<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linghang.skimlessons.dao.CollegeDao">

    <resultMap id="baseResultMap" type="com.linghang.skimlessons.entity.College">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="BIGINT"></idArg>
            <arg column="college_name" javaType="java.lang.String" jdbcType="VARCHAR"></arg>
        </constructor>
    </resultMap>

    <select id="findAllCollege" resultMap="baseResultMap">
        select id, college_name
        from college
    </select>

</mapper>